button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-icon, .edit-icon{
  display: none;
  font-size: 18px;
  & mat-icon{
    font-size: 14px !important;
  }
  .list-item:hover &{
    display: flex !important;
  }
}

.list-item{
  white-space:nowrap;
  &:hover small{
    text-overflow: ellipsis;
    overflow:hidden;
    width: 150px;
  }
}


::ng-deep{
  .mat-list-item-content{
    padding: 0 !important;
  }
  .mat-list-text{
    padding-right: 0 !important;
    padding-left: 5px !important;
  }
  .mat-list-icon{
    font-size: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
}
