<mat-progress-bar *ngIf="!isFetched" mode="indeterminate"></mat-progress-bar>


<div class="list-title">
  <span>
    {{title}}
  </span>
</div>
<div fxLayout="row wrap" class="mt-1" *ngIf="tasks.length">
  <div fxFlex="100" class="mb-1" fxLayoutAlign="center center">
    <h2 class="tasks-subject">TASKS</h2>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" *ngFor="let task of tasks">
    <div
      [ngClass]="task.done ? 'done-task-item' : 'ongoing-task-item'"
      fxFlex.gt-sm="70"
      fxFlex.lt-md="75"
      fxFlex.lt-sm="85" fxLayoutAlign="start center">
      <mat-checkbox *ngIf="allowedActions.completable"
                    [checked]="task.done"
                    class="mr-1"
                    matTooltip="Set As Completed"
                    matTooltipPosition="above"
                    (change)="toggleCompleteTask(task, $event)"></mat-checkbox>

      <div fxLayout="column" style="width: 120px">
        <small class="field-title">Task Title</small>
        <small>{{task.title}}</small>
      </div>
      <div fxLayout="column" class="ml-1" fxHide.lt-lg>
        <small class="field-title">Description</small>
        <small>
          {{(task.description.length > 50) ?
          (task.description | slice:0:50) + '..' :
          (task.description)}}
        </small>
      </div>
      <div class="spacer"></div>
      <div fxLayout="column">
        <small class="field-title">Due Date</small>
        <small>
          {{task.date | date: 'dd/MM'}}
        </small>
      </div>
      <div fxHide.lt-sm>
        <small class="ongoing-task" *ngIf="!task.done; else comp">ONGOING</small>
        <ng-template #comp>
          <small class="completed-task">DONE</small>
        </ng-template>
      </div>
      <button *ngIf="allowedActions.editable"
              mat-icon-button
              color="primary"
              matTooltip="Edit Task"
              matTooltipPosition="above"
              (click)="editExistingTask(task)">
        <mat-icon>edit_outline</mat-icon>
      </button>
      <button *ngIf="allowedActions.movable"
              mat-icon-button
              color="primary"
              class="mx-half"
              matTooltip="Move To Main List"
              matTooltipPosition="above"
              (click)="moveTaskToDailyList(task)">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <button *ngIf="allowedActions.deletable"
              mat-icon-button
              color="warn"
              matTooltip="Delete Task"
              matTooltipPosition="above"
              (click)="deleteTask(task)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </div>
</div>

<div *ngIf="isFetched && tasks.length == 0"
     fxLayout="row"
     class="mt-3"
     fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="empty-warn">
          THIS LIST IS EMPTY!
    </span>
    <mat-icon class="empty-icon">
      edit
    </mat-icon>
  </div>

</div>

<button mat-fab
        matTooltip="Create New Task"
        matTooltipPosition="above"
        color="primary"
        (click)="createNewTask()"
        style="position:fixed; bottom: 40px; right: 50px">
  <mat-icon>add</mat-icon>
</button>
