<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-icon color="primary" class="mr-half">view_week</mat-icon>
      Lists
    </mat-toolbar>
    <mat-divider></mat-divider>
    <app-lists></app-lists>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
<!--      <span>todos</span>-->
      <img fxHide.lt-md src="/assets/images/logo.png" alt="logo" width="35">
      <div class="spacer"></div>
      <button mat-icon-button disabled>
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
